@page

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
   hi
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
