@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Sup.cshtml";
}

<title>Case Details</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">



<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">


<meta content="" name="description">
<meta content="" name="keywords">


<br />
<br />
<br />


<main id="main">



    <div class="container" id="Card_cont">
        <div class="section-title">
            <h2> Case Details </h2>
        </div>





        <div class="card mc" data-aos="fade-up" data-aos-delay="200">
                            <div class="card-body">

                                <div class="col">




                                    <div class="card">
                                        <div class="card-body">
                                            <h5 style="color: hotpink; text-decoration: double"> Case ID: <span id="c_id"> 54353 </span></h5>
                                            <h6 stye="color:blue">Student name\ID: <span id="Rota"> rawan 23289 </span> </h6>
                                            <h6>Rotation: <span id="Rota"> CCC Adult </span> </h6>
                                            <h6>Age group: <span id="Age_g">Adult-Resorative</span></h6>
                                            <h6>Department: <span id="dep">  Adult-Resorative</span></h6>
                                            <h6> Case: <span id="Case_t">  Title</span></h6>
                            <h6 style="color:green">Creation/End Date:<span id="Tooth"> 19-10-2023 </span></h6>
                            <h6 style="color:green">Acceptance Date:<span id="Tooth"> 19-10-2023 </span></h6>
                            <h6 style="color:green">Evaluation Date:<span id="Tooth"> 19-10-2023 </span></h6>
                                            <h6>File No: <span id="F_id">23421</span></h6>
                                            <h6>Gender: <span id="gender">Male</span></h6>
                                            <h6>Tooth:<span id="Tooth"> 5 </span></h6>


                                        </div>
                                    </div>



                                    <ul class="nav nav-tabs" style="margin-top: 40px!important">
                                        <li class="nav-item">
                                            <a href="" class="active nav-link">
                                                <div class="subTitle">
                                                    <h4>Evaluation</h4>
                                                </div>


                                            </a>
                                        </li>
                                    </ul>


                                    <div>
                                        <table class="table">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">
                                                        Criterion
                                                    </th>
                                                    <th scope="col">Evaluation</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td>Knowledge</td>
                                                    <td>Excellent</td>

                                                </tr>
                                                <tr>

                                                    <td>
                                                        Clinical Skills
                                                    </td>
                                                    <td>Acceptable</td>

                                                </tr>
                                                <tr>

                                                    <td>Professionalism</td>
                                                    <td>Excellent</td>

                                                </tr>

                                                <tr>

                                                    <td>Communication</td>
                                                    <td>
                                                        Not Acceptable
                                                    </td>

                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>


                                    <div class="d-flex flex-row-reverse" >

                                        <div class="p-2">
                                            <div class="col" style="margin-top:60px !important;  margin-bottom:30px;">
           
                                                <button type="button" class="btn_y">Print </button>

                                            </div>
                                        </div>
                                    </div>






                                    </div>








                                </div>
          
                                   

                    </div>
     
    </div>
</main><!-- End #main -->
<!-- ======= Footer ======= -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
