@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Sup.cshtml";
}

<title>Active Clinical Cases</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">



<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">


<meta content="" name="description">
<meta content="" name="keywords">


<br />
<br />
<br />


<main id="main">



    <div class="container" id="Card_cont">
        <div class="section-title">
            <h2> Pre-treatment Requests </h2>
        </div>





        <div class="card mc" data-aos="fade-up" data-aos-delay="200">
                            <div class="card-body">

                <div class="col">



                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="p-2 flex-grow-1">




                                    <h5 style="color: hotpink; text-decoration: double; font-weight: bold !important"> Case ID: <span id="c_id"> 54353 </span></h5>
                                    <h6 style="color:blue;">Student name\ID: <span id="Rota"> rawan 23289 </span> </h6>
                                    <h6>Rotation: <span id="Rota"> CCC Adult </span> </h6>
                                    <h6>Age group: <span id="Age_g">Adult-Resorative</span></h6>
                                    <h6>Department: <span id="dep">  Adult-Resorative</span></h6>
                                    <h6> Case: <span id="Case_t">  Title</span></h6>

                                    <h6 style="color:green">Creation Date: <span id="createdate">  4-7-2023 9:10 AM</span></h6>

                                    <h6>File No: <span id="F_id">23421</span></h6>
                                    <h6>Gender: <span id="gender">Male</span></h6>
                                    <h6>Tooth:<span id="Tooth"> 5 </span></h6>



                                </div>





                            </div>



                            <div class="col text-center">
                                <button class="btn btn-success" type="button"> Accept</button>
                                <button type="button" class="btn btn-danger">Decline </button>
                            </div>




                            </div> </div>



                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="p-2 flex-grow-1">
                                    <h5 style="color: hotpink; text-decoration: double; font-weight: bold !important"> Case ID: <span id="c_id"> 54353 </span></h5>
                                    <h6 style="color:blue;">Student name\ID: <span id="Rota"> rawan 23289 </span> </h6>
                                    <h6>Rotation: <span id="Rota"> CCC Adult </span> </h6>
                                    <h6>Age group: <span id="Age_g">Adult-Resorative</span></h6>
                                    <h6>Department: <span id="dep">  Adult-Resorative</span></h6>
                                    <h6> Case: <span id="Case_t">  Title</span></h6>

                                    <h6 style="color:green">Creation Date: <span id="createdate">  4-7-2023 9:10 AM</span></h6>

                                    <h6>File No: <span id="F_id">23421</span></h6>
                                    <h6>Gender: <span id="gender">Male</span></h6>
                                    <h6>Tooth:<span id="Tooth"> 5 </span></h6>


                                </div>






                            </div>



                            <div class="col text-center">
                                <button class="btn btn-success" type="button"> Accept</button>
                                <button type="button" class="btn btn-danger">Decline </button>
                            </div>




                        </div>

                            </div>










                                 </div>








                                </div>
          
                                   









                    </div>
     
    </div>
</main><!-- End #main -->
<!-- ======= Footer ======= -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
