@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout_Stu.cshtml";
}

<title>Case Details</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">



<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">


<meta content="" name="description">
<meta content="" name="keywords">


<br />
<br />
<br />


<main id="main">


    <div class="container" id="Card_cont">
        <div class="section-title">
            <h2> My Cases </h2>
        </div>





        <div class="card mc" data-aos="fade-up" data-aos-delay="200">
            <div class="card-body">

                <div class="col">



                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="p-2 flex-grow-1">

@*
                                    <h5 style="color: hotpink; text-decoration: double"> Case ID: <span id="c_id"> 54353 </span></h5>
                                    <h6>File No: <span id="F_id">23421</span></h6>
                                    <h6>Status: <span id="gender">Evaluated</span></h6>
                                    <h6>Starts Date:<span id="Tooth"> 19-10-2023 </span></h6>
                                    <h6>End Date:<span id="Tooth"> 19-10-2023 </span></h6>

                                    *@
                                    <h5 style=" text-decoration: double; font-weight:bold !important"> Case ID: <span id="c_id"> 54353 </span></h5>
                                    <h6>Rotation: <span id="Rota"> CCC Adult </span> </h6>
                                    <h6>Age group: <span id="Age_g">Adult-Resorative</span></h6>
                                    <h6>Department: <span id="dep">  Adult-Resorative</span></h6>
                                    <h6> Case: <span id="Case_t">  Title</span></h6>

                                    <h6>Supervisor: <span id="sup_name"> name</span></h6>
                                    <h6 style="color:blue">Status: <span id="gender">Under Evaluation</span></h6>
                                    <h6 style="color:blue">Score: <span id="gender"> Excellent</span></h6>
                                    <h6>File No: <span id="F_id">23421</span></h6>
                                    <h6>Gender: <span id="gender">Male</span></h6>
                                    <h6>Tooth:<span id="Tooth"> 5 </span></h6>
                                    <h6 style="color:green">Creation Date:<span id="creation_date"> 19-10-2023 </span></h6>
                                    <h6 style="color:green">End Date:<span id="end_date"> 19-10-2023 </span></h6>
                                    <h6 style="color:green">Evaluation Date:<span id="evaluation_date"> 19-10-2023 </span></h6>

                                </div>

                            </div>
@*
                            <div class="col text-center">
                  
                                <button class="btn_g" type="button">View Evaluation</button>
                            </div>*@

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex">
                                <div class="p-2 flex-grow-1">

                          
                                    <h5 style=" text-decoration: double; font-weight:bold !important"> Case ID: <span id="c_id"> 54353 </span></h5>
                                   <h6>Rotation: <span id="Rota"> CCC Adult </span> </h6>
                                    <h6>Age group: <span id="Age_g">Adult-Resorative</span></h6>
                                    <h6>Department: <span id="dep">  Adult-Resorative</span></h6>
                                    <h6> Case: <span id="Case_t">  Title</span></h6>

                                    <h6>Supervisor: <span id="sup_name"> name</span></h6>
                                    <h6 style="color:blue">Status: <span id="gender">Under Evaluation</span></h6>
                                    <h6 style="color:blue">Score: <span id="gender"> Excellent</span></h6>
                                    <h6>File No: <span id="F_id">23421</span></h6>
                                    <h6>Gender: <span id="gender">Male</span></h6>
                                    <h6>Tooth:<span id="Tooth"> 5 </span></h6>
                                    <h6 style="color:green">Creation Date:<span id="creation_date"> 19-10-2023 </span></h6>
                                    <h6 style="color:green">End Date:<span id="end_date"> 19-10-2023 </span></h6>
                                    <h6 style="color:green">Evaluation Date:<span id="evaluation_date"> 19-10-2023 </span></h6>

                                </div>
                            </div>
                 @*           <div class="col text-center">
                                <button class="btn_g" type="button">View Evaluation</button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main><!-- End #main -->
<!-- ======= Footer ======= -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
